<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of website -->
    <title>Home | My Celebrity</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="css/index.css">
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Google Fonts (Yellowtail) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <!-- Google Fonts (Amaranth) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
</head>
<body id="body">
    
    <!-- A div container to hold everything -->
    <div class="container">

        <!-- Using Bootstraps jumbotron to display info -->
        <div class="jumbotron">
            <h1 id="jumbotron-header"><strong>My Celebrity</strong></h1>
            <hr>
            <h2 id="jumbotron-message">Complete the survey to find your celebrity match!</h2>
            <!-- A button that links to the survey page -->
            <a id="survey-btn" href="/survey"><button class="btn btn-lg btn-secondary"><h4>Take Survey</h4></button></a>
        </div>

        <!-- Footer of home page -->
        <footer class="footer">
            <!-- A div container to hold two different links -->
            <div class="container">
                <!-- Links to API and GitHub repo -->
                <p id="footer-links"><a href="/api/celebrities">API Celebrity List</a> | <a href="">GitHub Repo</a></p>
            </div>
        </footer>

    </div>

</body>
</html>