<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of website -->
    <title>Survey | My Celebrity</title>
    <!-- Link to jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="css/survey.css">
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Link to Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Link to Chosen CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css"/>
    <!-- Link to Chosen JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <!-- Google Fonts (Yellowtail) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <!-- Google Fonts (Amaranth) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
</head>
<body id="body">
    
    <!-- A div container to hold everything -->
    <div class="container">

        <!-- Header of Survey page -->
        <h1 id="survey-header"><strong>Survey Questions</strong></h1>
        <hr>

        <br>

        <!-- Question #1 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #1:</strong></h2>
            <h3>You rather be outside than being inside.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q1">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #2 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #2:</strong></h2>
            <h3>You prefer to be in a quiet location.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q2">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #3 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #3:</strong></h2>
            <h3>You are open to trying new things out.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q3" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #4 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #4:</strong></h2>
            <h3>You prefer to be active rather than lay back.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q4" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #5 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #5:</strong></h2>
            <h3>It takes a lot to make you mad.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q5" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #6 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #6:</strong></h2>
            <h3>You are a open person.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q6" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #7 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #7:</strong></h2>
            <h3>You don't mind being in a big group of people.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q7" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #8 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #8:</strong></h2>
            <h3>You prefer the day instead of the night.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q8" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #9 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #9:</strong></h2>
            <h3>You are to yourself instead of being an outgoing person.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q9" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <!-- Question #10 -->
        <div id="all-questions">
            <h2 class="questions"><strong>Question #10:</strong></h2>
            <h3>You like to stick to the plan rather than going with the flow.</h3>
            <!-- A select element to allow multiple options -->
            <select class="chosen-select" id="q10" class="survey-questions">
                <!-- <option> tag to allow options in a list -->
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>

        <br>

        <!-- Submit button -->
        <button type="submit" id="submit-btn" class="btn btn-lg btn-success">Submit</button>

    </div>

    <!-- Modal popup window -->
    <div id="results-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <!-- Modal header -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Best Match</h2>
                </div>
                <!-- Modal body -->
                <!-- This is where the user's match will be rendered -->
                <div class="modal-body">
                    <h2 id="match-name"></h2>
                    <img id="match-img" src="">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="close-btn" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

<!-- Link to JS -->
<script src="js/script.js"></script>
</body>
</html>